body{font-family: 'Open Sans', sans-serif;}
.img img {
    border: 1px solid;
    float: left;
    height: 141px;
    margin: 3px;
    padding: 4px;
    width: 15%;
   cursor: pointer;
}
.gallery {
    margin: 0 auto;
    width: 83%;
}
.logo {
    background: url("../images/sprite.png") repeat scroll -199px center rgba(0, 0, 0, 0);
    height: 123px;
    width: 201px;
}
.wrapper {
    height: 100%;
    width: 100%;
}
.overlay
{
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5);
display:none;
}
.big-img-cont{
position:absolute;
        width:500px;
        height:400px;
        top: 20%;
        left: 30%;
        z-index: 9999;
        }
.close {
    background: url("../images/sprite.png") repeat scroll -250px -261px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: -18px;
    top: 5px;
    width: 24px;
    z-index: 50;
}
 .big-img-cont > img {
    border: 9px solid #fff;
    cursor: default;
    height: 100%;
    padding: 0;
    width: 100%;
}
